<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Employees Application</title>
    <link rel="shortcut icon" href="../static/css/icon.png">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" th:href="@{static/css/style.css}"/>
</head>
<body>

<div class="container">
    <h1>Employees Application</h1>
    <div class="links">
        <div>
            <a class="enter-new-employee" href="/new">Enter New Employee</a><br/>
        </div>
        <br><br>
        <div>
            <a class="show-all-employees" href="/employees">Show All Employees</a>
        </div>
    </div>
</div>

</body>
</html>